.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #F7ECDE;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #54BAB9;
  font-size: 3rem;
  color: #9ED2C6;
}

p {
  font-size: 2rem;
  color: #9ED2C6;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #FF7C7C;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
